@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');

*
{
    padding: 0;
    margin: 0;              
}

body
{
    height: 100vh;
    background-image: linear-gradient(45deg, #46244C, #712B75, #C74B50, #D49B54);
    background-size: 250% 250%;
    animation: colors 15s ease infinite;
    overflow: hidden;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header
{
    background-color: #24252A;
    height: 55px;
    color: whitesmoke;
    width: calc(100vw + 1%);
    margin-bottom: 20px;
    box-shadow: 0px 2px 11px #000000a3;
}

div#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-top: 3px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Red Hat Mono', monospace, Arial, Helvetica;
}

div#header h1
{
    border: 3px solid rgb(255, 226, 188);
    padding: 0px 9px 0px 9px;
    margin-top: 3px;
    margin-left: 5px;
}

div#header div
{
    padding-right: 15px;
    padding-top: 7px;
}

div#header button
{
    font-family: 'Red Hat Mono', monospace, Arial, Arial, Helvetica, sans-serif;
    width: 125px;
    height: 30px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: bisque;
    color: #b67b34;
    transition: 1.3s, ease 0.8s;
    margin-right: 15px;
}

div#header button:hover
{
    background-color: #D49B54;
    color: bisque;
    cursor: pointer;
    width: 150px;
}

div#header a.head
{
    text-decoration: none;
}

div#infos
{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#cadastrar
{
    width: min(345px, 365px);
    height: min(424px, 436px);
    background-color: white;
    text-align: left;
    border-radius: 8px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 13px #00000066;
    margin-top: 50px;
}

section#cadastrar p
{
    font-size: 15px;
    text-align: center;
    margin-bottom: 2.5%;
}

section#cadastrar a
{
    color: rgb(255 0 0);;
    text-decoration: underline;
}

section#cadastrar a:hover
{
    color: rgb(196 58 58);
    cursor: pointer;
}

section#cadastrar a:active
{
    color: rgb(255, 0, 0);
    cursor: default;
    font-weight: normal;
}
section#cadastrar #login 
{
    color: rgb(134, 33, 72);
    font-size: 17px;
    text-decoration: none;
}

section#cadastrar #login:hover
{
    color: rgb(70, 10, 30);
    text-decoration: none;
}

input
{
    width: 180px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 2px solid rgba(68, 68, 68, 0.377);;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: width 0.5s , ease-in-out 0.5s;
    font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
    text-overflow: hidden;
}

input[type="password"]
{
    width: 10px;
}

.icon input
{
    padding-left: 30px;
    width: 200px;
}

.icon
{
    position: relative;
    padding-top: 20px;
}

.icon i
{
    position: absolute;
    left: 20px;
    top: 45px;
}

img
{
    width: 6%;
    position: absolute;
    top: 39px;
    left: 57%;
    cursor: pointer;
    display: block;
}

input:focus-visible
{
    outline: 0px transparent;
    border-bottom: 2px solid rgb(221, 0, 66);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 230px;
}

input:hover
{
    border-bottom: 2px solid rgb(221, 0, 66);
}

input[type="button"]{
    width: 180px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 45px;
    padding: 15px;
    background-color: rgb(253, 68, 83);
    border-radius: 3px;
    color: rgb(230, 230, 230);
    border: none;
    box-shadow: 3px 3px 7px #0000008f;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Red Hat Mono', sans-serif, Arial, Helvetica, sans-serif;
    transition: 1.3s;

}

input[type="button"]:hover{
    background-color: rgb(206, 57, 101);
    box-shadow: 3px 3px 13px #000000d6;
    cursor: pointer;
    width: 220px;
}

input[type="button"]:active{
    background-color: rgb(253, 68, 83);
    border-radius: 3px;
    color: white;
    border: none;
    box-shadow: 2px 2px 7px #0000002e;
    font-family: 'Red Hat Mono', sans-serif, Arial, Helvetica, sans-serif;
    cursor: default;
    box-shadow: 3px 3px 13px #000000d6;
}

#login
{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Mono', monospace, Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 5px;
    font-size: 16px;
}

#login:hover
{
    text-decoration: 2px underline rgb(62, 0, 119);
}