@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root 
{
    --color-dark: #24252A;
}

body
{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, #46244C, #712B75, #C74B50, #D49B54);
    background-size: 250% 250%;
    animation: colors 12s ease infinite;
}

@keyframes colors
{
    0%
    {
        background-position: 0% 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0% 50%;
    }
}

header
{
    background-color: #24252A;
    height: 55px;
    color: whitesmoke;
    width: 100vw;
    margin-bottom: 20px;
    box-shadow: 0px 2px 11px #000000a3;
}

div#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-top: 3px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Red Hat Mono', monospace, Arial, Helvetica;
}

div#header h1
{
    border: 3px solid rgb(255, 226, 188);
    padding: 0px 9px 0px 9px;
    margin-top: 3px;
    margin-left: 5px;
    max-width: 250px; 
    max-height: 40px;
    overflow: hidden;
}

div#header div
{
    padding-right: 15px;
    padding-top: 7px;
}

div#header button
{
    font-family: 'Red Hat Mono', monospace, Arial, Arial, Helvetica, sans-serif;
    width: 125px;
    height: 30px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: bisque;
    color: #b67b34;
    transition: 1.3s, ease 0.8s;
}

div#header button:hover
{
    background-color: #D49B54;
    color: bisque;
    cursor: pointer;
    width: 150px;
}

div#header button:active
{
    cursor: default;
}

div#header a:active
{
    cursor: default;
}

div#header div
{
    position: fixed;
    left: min(75%, 85%);
    top: 1%;
}

img#user
{
    position: static;
    width: 30px;
}

ul li 
{
    display: none;
    font-size: 16px;
    padding: 5px;
}

ul
{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 7px 5px #0000007d;
    border-radius: 3px;
    width: min(105px, 110px);
}

ul li a
{
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    width: 82%;
    display: block;
    padding-left: 15px;
}

ul a:visited
{
    color: inherit;
}

div#buttons:hover ul li
{
    display: block;
    padding-bottom: 5px;
    margin-top: 15px;
    color: var(--color-dark);
    font-weight: 500;
    text-shadow: 0px 0px 4px #00000057;
}

div#buttons
{
    padding-right: 0;
    right: 159px;
}

ul li:hover
{
    background-color: #e97272;
    border-radius: 3px;
    cursor: pointer;
}

ul a
{
    text-decoration: none;
    text-align: start;
}

ul li:hover
{
    border-radius: 3px 3px 0px 0px;
}

ul li#bottom:hover
{
    border-radius: 0px 0px 3px 3px;
}

ul li 
{
    padding: 7px;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: min(345px, 400px);
    height: min(280px, 379px);
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 13px #0000006b;
    margin-top: 10%;
}

input
{
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 3px;
    width: 200px;
    margin-bottom: 35px;
    font-family: 'Roboto Mono', monospace;
    transition: with 0.5s, ease-in-out 0.5s;
}

input:focus-visible
{
    outline: 0px solid transparent;
    border-bottom: 2px solid rgb(221, 0, 66);
    width: 230px;
}

input:hover
{
    border-bottom: 2px solid rgb(221, 0, 66);
}

input[type="text"], input[type="password"]
{
    padding-left: 25px;
}

div.icon
{
    position: relative;
        
}

img#img
{
    width: 7.3%;
    position: absolute;
    top: 7px;
    left: 70%;
    cursor: pointer;
}

div.icon i
{
    position: absolute;
    top: 12px;
    left: 4px;
}

div#btn button
{
    width: 180px;
    height: 50px;
    background-color: rgb(253, 68, 83);
    border: none;
    border-radius: 5px;
    color: white;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: width 0.5s, ease-in-out 0.5s;
    box-shadow: 3px 3px 10px #00000059;
    font-family: 'Red Hat Mono', monospace, Arial, Helvetica, sans-serif;
}

div#btn button:hover
{
    background-color: rgb(206, 57, 101);
    width: 230px;
    color: white;
    box-shadow: 3px 3px 10px #00000094;
    cursor: pointer;
}

div#btn button:active
{
    background-color: rgb(253, 68, 83);
    color: white;
    cursor: default;
}

#erro
{
    color: red;
    background-color: rgb(255, 152, 152);
    margin-top: 10px;
    text-align: center;
    font-family: 'Red Hat Mono', monospace, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}